body {
  background-image: url("../css/bg_image.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  margin: 0 auto;
  width: 57%;
  height: 100%;
  overflow: auto;
  background-color: #0a58ca94;
  padding: 20px;
  border-radius: 17px;
  box-shadow: 0px 0px 5px 0px #2e373f;
}

input[type=text], select {
 width: 100%;
 padding: 12px 20px;
 margin: 8px 0;
 display: inline-block;
 border: 1px solid #ccc;
 border-radius: 4px;
 box-sizing: border-box;
}

select {
  color: #000000 !important;
  border: 2px solid #000000 !important;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.close_button {
  width: 100%;
  border: 0;
  background: none;
  display: inline;
  margin: 5px;
  text-align: center;
  border: 2px solid #89353d;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer
}

.close_button:hover {
  background: #93111e;
}


/* button styles */
.button.dark {
  --background: #2F3545;
  --shadow: 0 2px 8px -1px rgba(21, 25, 36, 0.32);
  --shadow-hover: 0 4px 20px -2px rgba(21, 25, 36, 0.5);
}
.button.white {
  --background: #fff;
  --text: #275efe;
  --shadow: 0 2px 8px -1px rgba(18, 22, 33, 0.04);
  --shadow-hover: 0 4px 20px -2px rgba(18, 22, 33, 0.12);
}

.button {
  width: 500px;
  margin: 10px auto;
 
  --background: #275efe;
  --text: #fff;
  --font-size: 16px;
  --duration: .5s;
  --move-hover: -4px;
  --shadow: 0 2px 8px -1px rgba(39, 94, 254, 0.32);
  --shadow-hover: 0 4px 20px -2px rgba(39, 94, 254, 0.5);
  padding: 16px 32px;
  font-weight: 500;
  line-height: var(--font-size);
  border-radius: 24px;
  display: block;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: var(--font-size);
  letter-spacing: 0.5px;
  background: var(--background);
  color: var(--text);
  box-shadow: var(--shadow);
  transform: translateY(var(--y));
  transition: transform var(--duration) ease, box-shadow var(--duration) ease;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  font-family: monospace;
  font-size: 23px;
}
.button div {
  display: flex;
}
.button div span {
  display: block;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-style: normal;
}
.button div span:nth-child(1) {
  --d: 0.05s;
}
.button div span:nth-child(2) {
  --d: 0.1s;
}
.button div span:nth-child(3) {
  --d: 0.15s;
}
.button div span:nth-child(4) {
  --d: 0.2s;
}
.button div span:nth-child(5) {
  --d: 0.25s;
}
.button div span:nth-child(6) {
  --d: 0.3s;
}
.button div span:nth-child(7) {
  --d: 0.35s;
}
.button div span:nth-child(8) {
  --d: 0.4s;
}
.button div span:nth-child(9) {
  --d: 0.45s;
}
.button div span:nth-child(10) {
  --d: 0.5s;
}
.button div span:nth-child(11) {
  --d: 0.55s;
}
.button:hover {
  --y: var(--move-hover);
  --shadow: var(--shadow-hover);
  --move: -4px;
  --shadow-active: 0 3px 1px rgba(0, 0, 0, .2);
}
.button:hover span {
  -webkit-animation: move var(--duration) linear var(--d);
          animation: move var(--duration) linear var(--d);
}
.button.smoke {
  --move: 12px;
  --move-y: -8px;
  --blur: 4px;
}
.button.smoke:hover span {
  --duration: 1s;
  -webkit-animation: smoke var(--duration) linear var(--d);
          animation: smoke var(--duration) linear var(--d);
}
.button.drive {
  --move: 16px;
  --skew: 25deg;
  --skew-fast: 40deg;
  --skew-bounce: -12px;
}
.button.drive:hover span {
  --duration: 1s;
  transform-origin: 50% 100%;
  -webkit-animation: drive var(--duration) linear var(--d);
          animation: drive var(--duration) linear var(--d);
}

@-webkit-keyframes move {
  40% {
    transform: translateY(var(--move));
    text-shadow: var(--shadow-active);
  }
}

@keyframes move {
  40% {
    transform: translateY(var(--move));
    text-shadow: var(--shadow-active);
  }
}
@-webkit-keyframes smoke {
  45%, 55% {
    filter: blur(var(--blur));
  }
  50%, 50.1% {
    opacity: 0;
  }
  25%, 75% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(var(--move)) translateY(var(--move-y));
  }
  50.1% {
    transform: translateX(calc(var(--move) * -1));
  }
}
@keyframes smoke {
  45%, 55% {
    filter: blur(var(--blur));
  }
  50%, 50.1% {
    opacity: 0;
  }
  25%, 75% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(var(--move)) translateY(var(--move-y));
  }
  50.1% {
    transform: translateX(calc(var(--move) * -1));
  }
}
@-webkit-keyframes drive {
  40% {
    opacity: 1;
  }
  55% {
    transform: skewX(var(--skew)) translateX(var(--move));
  }
  56% {
    transform: skewX(var(--skew-fast)) translateX(calc(var(--move) * -1));
  }
  55%, 56% {
    opacity: 0;
  }
  75% {
    transform: skewX(var(--skew));
  }
  85% {
    transform: skewX(var(--skew-bounce));
  }
}
@keyframes drive {
  40% {
    opacity: 1;
  }
  55% {
    transform: skewX(var(--skew)) translateX(var(--move));
  }
  56% {
    transform: skewX(var(--skew-fast)) translateX(calc(var(--move) * -1));
  }
  55%, 56% {
    opacity: 0;
  }
  75% {
    transform: skewX(var(--skew));
  }
  85% {
    transform: skewX(var(--skew-bounce));
  }
}